# Your Google Cloud Project ID
GOOGLE_CLOUD_PROJECT=your-project-id-here

# Detailed region to run containers in (e.g. us-central1)
GOOGLE_CLOUD_REGION=us-central1

# Google Service Account Credentials
GCP_SA_TYPE="service_account"
GCP_SA_PROJECT_ID="your-project-id"
GCP_SA_PRIVATE_KEY_ID="your-private-key-id"
GCP_SA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GCP_SA_CLIENT_EMAIL="your-service-account-email@your-project-id.iam.gserviceaccount.com"
GCP_SA_CLIENT_ID="your-client-id"
GCP_SA_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
GCP_SA_TOKEN_URI="https://oauth2.googleapis.com/token"
GCP_SA_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
GCP_SA_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/x509/your-service-account-email..."
GCP_SA_UNIVERSE_DOMAIN="googleapis.com"

# SMTP Configuration for Emails
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM="your-email@gmail.com"
